/SimpleJournalApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/SimpleJournalApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/SimpleJournalApp.xcodeproj/project.xcworkspace/xcuserdata/polpiella.xcuserdatad/UserInterfaceState.xcuserstate
/SimpleJournalApp.xcodeproj/xcuserdata/polpiella.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/SimpleJournalApp.xcodeproj/xcuserdata/polpiella.xcuserdatad/xcschemes/xcschememanagement.plist
